/******** start of the variables**********/ 
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
/************** Media Query***********/
$maxMobile : 767px;
$minSmall : 768px;
$maxMobileStart:320px;
/********* Branding Colors**********/
$mainColor:#db8939;
$secondaryColor:#42415b;
$whiteColor: #fff;
$simiDarkBlue:#9ca2c6;
$darkBlue : #636289;
$simiLightBlue : #c8c7e3;
$lightBlue : #f3f3ff;

$roboto: 'Roboto';
$opensans: 'Open Sans';
$small-font-size:14px;
$medium-font-size:15px;
$lage-font-size:18px;
$font-size-20:20px;
$font-size-22:22px;
$font-size-28:28px;
$font-size-30:30px;
$font-size-38: 38px;
$font-size-50:50px;
$right:right;
$left:left;
$center:center;
/******** end of the variables**********/ 
