/******** start of the home**********/ 
/******** start of the slider**********/ 
.slider{
    position: relative;
    img{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
    }
    @include minMedium {
        .mobilebk{
            display: none;
        }
        .desktopbk{
            display: block;
        }
    }
    @media (min-width:$minSmall) {
        .mobilebk{
            display: none;
        }
        .desktopbk{
            display: block;
        }
    }
    @media (max-width:$maxMobile) {
        .mobilebk{
            display: block;
        }
        .desktopbk{
            display: none;
        }
    }
    .overlayText{
        position: absolute;
        float: $left;
        top: 120px;
        z-index: 99;
        @media (max-width:$minSmall) {
            position: absolute;
            float: none;
            top: 60px;
            text-align: center;
            z-index: 99;
            left: 0%;
            right: 0%;
        }
        @media(max-width:$maxMobileStart){
            display: none;
        }
        h1{
            color: $whiteColor;
            font-family: $roboto;
            font-size: 66px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 80px;
            @media (max-width:$minSmall) {
                font-size: $font-size-38;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 50px;
            }
        }
        p{
            color: $whiteColor;
            font-family: $roboto;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 30px;
            @media (max-width:$minSmall) {
                font-size: $lage-font-size;
                letter-spacing: 0;
                line-height: 30px;
            }
        }
        .getquote{
            height: 50px;
            min-width: 160px;
            border-radius: 4px;
            color: $whiteColor;
            background-color: $mainColor;
            border:none;
            font-weight: 500;
            font-size: $lage-font-size;
        }
    }
}
/******** end of the slider**********/ 
/******** start of the team**********/ 
.ourteam{
    position: relative;
    padding: 53px 0px;
    background-color: $lightBlue;
    .sectionTitle{
        color: $secondaryColor;
        font-family: $roboto;
        font-size: $font-size-50;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 60px;
        text-align: $center;
        @media (max-width:$minSmall) {
            font-size: $font-size-30;
            letter-spacing: 0;
            line-height: 30px;
        }
    }
    .memberBox{
        position: relative;
        margin:45px 0px 20px 0px;
        background-color: $whiteColor;
        border-radius: 4px;
        overflow: hidden;
        .memberBox,
        .memberbio,
        .membercontact{
            display: block;
        }
        .memberbio{
            padding: 20px 0px 0px 0px;
            h3{
                color: $secondaryColor;
                font-family:$roboto;
                font-size: $font-size-20;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 31px;
                text-transform: capitalize;
            }
            p{
                color: $secondaryColor;
                font-family:$roboto;
                font-size: $font-size-20;
                letter-spacing: 0;
                line-height: 26px;
                text-align: center;
            }
        }
        .membercontact{
            padding: 0px 0px 25px 0px;
            ul{
                list-style: none;
                padding: 0px;
                margin: 0px;
                li{
                    color: $mainColor;
                    font-family: $roboto;
                    font-size: $font-size-20;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 38px;
                    text-align: center;
                }
            }
        }
    }
}
/******** end of the team**********/ 
/******** start of the headingg**********/ 
.heading{
    position: relative;
    padding: 53px 0px;
    background-color: $whiteColor;
    .sectionTitle,.sectionTitleTwo{
        color: $secondaryColor;
        font-family: $roboto;
        font-weight: 500;
        letter-spacing: 0;
        padding-bottom: 20px;
    }
    .sectionTitle{
        font-size: $font-size-38;
        line-height: 48px;
        @media (max-width:$minSmall) {
            font-size: $font-size-28;
            letter-spacing: 0;
            line-height: 30px;
        }
    }
    .sectionTitleTwo{
        padding-top: 58px;
        font-size: $font-size-30;
        line-height: 35px;
        @media (max-width:$minSmall) {
            font-size: $font-size-22;
            letter-spacing: 0;
            line-height: 30px;
        }
    }
    .decription,.decriptionTwo{
        color: $secondaryColor;
        font-family:$opensans;
        letter-spacing: 0;
        line-height: 34px;
        margin-bottom: 0px;
    }
    .decription{
        font-size: $font-size-20;
    }
    .decriptionTwo{
        font-size:$lage-font-size;
    }
    .bullet{
        list-style: none;
        padding: 0px;
        margin: 20px 0px;
        li{
            color: $secondaryColor;
            font-family: $roboto;
            font-size: $lage-font-size;
            font-weight: 900;
            letter-spacing: 0;
            line-height: 35px;
            &:before {
                font-family: "FontAwesome";
                content: "\f058";
                top: 0px;
                left: 0;
                font-size: 22px;
                padding: 2px 5px;
            }
        }
    }
}
/******** end of the heading**********/ 
/******** end of the home**********/ 